:root{
--main-color:#452b1a;

}
*{
    box-sizing: inherit;
    
}
html{
    /* được hiểu là 16px */
    font-size: 62.5%;
    font-family: ' Roboto', sans-serif;
    box-sizing: border-box;}
body{
        font-size: 1.4rem;
        scroll-behavior: smooth;
       margin: 0px;
    }